<!--div class="toolbar" role="banner">
    <a href="/home"><img
        width="100"
        alt="LOGO"
        src="assets/acoustica.png"
      /></a>
  <span style="text-align:center;width:90%;font-size:x-large">ACOUSTICA</span>
  <div class="spacer"></div>
  
  </div>
  <div *ngIf="project">
    <div>
        <label><b>Project Name: </b></label> {{project.nomProject}}
    </div>
    <div>
    <label><b>Heure Vendu: </b></label> {{project.heureVendu}}
    </div>
  </div>
  <br>
  <br>
  <button (click)="list()" class="btn btn-primary">Back to Project List</button><br-->