<!DOCTYPE html>
<html>
<div class="toolbar" role="banner">
        <a href="/home"><img
            width="100"
            alt="LOGO"
            src="assets/acoustica.png"
          /></a>
      <span style="text-align:center;width:90%;font-size:x-large">ACOUSTICA</span>
      <div class="spacer"></div>
      
</div>
<body>
  <button class="bold-button">Button 1</button>
  <div class="spacer"></div>
  <div class="spacer"></div>

  <button class="bold-button">Button 2</button>
  <div class="spacer"></div>
  <button class="bold-button">Button 3</button>
</body>
</html>