<div class="toolbar" role="banner">
    <a href="/home"><img width="100" alt="LOGO" src="assets/acoustica.png" /></a>
    <span style="text-align:center;width:90%;font-size:x-large">ACOUSTICA</span>
    <div class="spacer"></div>
  
    <div class="nav-links">
      <!-- Lien vers la page "Projet" -->
      <a class="nav-link" [routerLink]="['/projectlist']">Projet</a>

      <!-- Lien vers la page "Employe" -->
      <a class="nav-link" [routerLink]="['/ajoutemployee']">Employe</a>
         <!-- Lien vers la page "Dashboard" -->
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
    </div>
  </div>
  
  
  