.custom-chart-container {
  max-width: 200px; /* Définissez la largeur maximale souhaitée */
  height: auto; /* Ajuste la hauteur en conséquence pour maintenir les proportions */
  margin: 0 auto; /* Centrer horizontalement le conteneur */
}
.custom-chart-container {
  max-width: 200px; /* Définissez la largeur maximale souhaitée */
  height: auto; /* Ajuste la hauteur en conséquence pour maintenir les proportions */
  margin: 0 auto; /* Centrer horizontalement le conteneur */
}
