.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #95ddba;
    color: white;
    font-weight: 600;
  }

  .center {
    text-align: center;
  }
  