<div mat-dialog-title>
  <h2>Ajouter un projet</h2>
</div>
<mat-dialog-content>
  <form [formGroup]="projectForm">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label for="idProject">Ref Projet</mat-label>
          <input matInput type="number" placeholder="Ex. Ref18072023" formControlName="id" id="idProject">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="nomProjet">Nom Projet</mat-label>
          <input matInput type="text" placeholder="Ex. Projet1" formControlName="nomProjet" id="nomProjet">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label for="heureVendu">heure Vendu</mat-label>
          <input matInput type="number" placeholder="Ex.20" formControlName="heureVendu" id="heureVendu">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label for="echeance">Date d'échéance</mat-label>
          <input matInput type="date" formControlName="echeance" id="echeance" placeholder="Date d'échéance">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Sélectionnez les employés</mat-label>
          <mat-select formControlName="employes" multiple>
            <mat-option *ngFor="let employe of employes" [value]="employe.id">
              {{ employe.Nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>



    <div mat-dialog-actions class="action">
      <button mat-raised-button [mat-dialog-close]="false" type="button" class="btn btn-outline-danger" [mat-dialog-close]="false">Annuler</button>
      <button mat-raised-button [mat-dialog-close]="true" class="btn btn-outline-primary" (click)="saveProject()">Ajouter</button>
    </div>
  </form>
</mat-dialog-content>